#menu {
  width: 100%;
}

.center {
  text-align: center;
}

.wrapper {
  min-height: 700px;
}

.jumbotron {
  background-color: #262216;
  color: #97743a;
}

.menu {
  height: 250px;
  width: 150px;
  border: 3px solid #49412c;
  display: inline-block;
}

.menu img {
  height: 140px;
  width: 140px;
}
